@import url(http://fonts.googleapis.com/css?family=Abel|Libre+Baskerville|Poiret+One);

body {
  background-color: #b2b2b2;
  margin: 3%;
}

h1 {
  color:#434343;
  font-family: 'Libre Baskerville', serif;
  font-size: 3em;
}

h2, a {
  color:#747170;
  font-style: italic;
}

h2 {
  font-family: 'Poiret One', sans-serif;
  font-size: 2.3em;
  margin: 0;
}

.tit {
  font-family: 'Libre Baskerville', serif;
}

ul, p, table {
  font-family: 'Abel', sans-serif;
  font-size: 1em;
}

table {
  padding-left: 1em;
}

img {
  border: 1em solid #fff;
  border-radius: 5%;
}

tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "col1 col2 col3";
  justify-items: start;
}

.column1 {
  grid-area: col1;
}

.column2 {
  grid-area: col2;
}

.column3 {
  grid-area: col3;
}

#main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "head head head"
    "image content content"
    "citation citation citation"
    "footer footer footer";
  grid-gap: 3em;
  justify-items: center;
  align-items: center;
}

#title {
  grid-area: head;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2, auto;
  grid-template-areas:
    "maintit"
    "subtitle";
}

#main-title {
  grid-area: maintit;
  justify-self: center;
}

#subtitle {
  grid-area: subtitle;
  justify-self: center;
}


#img-div {
  grid-area: image;
  display: flex;
  flex-direction: column;
}

.podpis {
  align-self: center;
}

#tribute-content {
  display: grid;
  grid-area: content;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
  grid-template-areas:
    "par1 par2 par3";
}

#citation {
  grid-area: citation;
  margin: 3em;
}

#footer {
  grid-area: footer;
}

#part1 {
  grid-area: par1;
}

#part2 {
  grid-area: par2;
  overflow-x: auto;
}

#part3 {
  grid-area: par3;
}

.table-wide {
  overflow-x: auto;
}

@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 1023px) {
    body {
      margin: 3%;
    }

   #main {
     grid-template-columns: 100%;
     grid-template-rows: auto;
     grid-template-areas:
       "head"
       "image"
       "content"
       "citation"
       "footer";
   }

   #title {
     margin: 0;
   }

   #tribute-content {
     grid-template-columns: 100%;
     grid-template-rows: auto;
     grid-template-areas:
       "par1"
       "par2"
       "par3";
      grid-row-gap: 4em;
   }

   ul {
     margin: 2em;
   }

   li {
     margin-top: : 0.5em;
     margin-bottom: 0.5em;
   }

   .podpis {
     font-size: 2em;
   }
 }

 @media only screen
   and (min-device-width: 300px)
   and (max-device-width: 559px) {
     tr {
       grid-template-columns: 100%;
       grid-template-rows: auto;
       grid-template-areas:
        "col1"
        "col2"
        "col3";
       grid-gap: 0;
       font-size: 41px;
      }

     td {
       margin-top: 0.4em;
     }
   }

   @media only screen
     and (min-device-width: 600px)
     and (max-device-width: 1023px) {
      tr {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "col1 col2 col3";
        grid-column-gap: 4em;
      }

      td {
        margin-top: 0.4em;
        font-size: 1.15rem;
      }
     }
