@import url(http://fonts.googleapis.com/css?family=Abel|Libre+Baskerville|Poiret+One);

body {
  background-color: #b2b2b2;
  margin: 3%;
}

h1 {
  color:#434343;
  font-family: 'Libre Baskerville', serif;
  font-size: 3em;
}

h2, a {
  color:#747170;
  font-style: italic;
}

h2 {
  font-family: 'Poiret One', sans-serif;
  font-size: 2.3em;
  margin: 0;
}

.tit {
  font-family: 'Libre Baskerville', serif;
}

ul, p, table {
  font-family: 'Abel', sans-serif;
  font-size: 1em;
}

ul, table {
  padding: 1em;
}

td {
  text-align: left;
  vertical-align: baseline;
}

img {
  border: 1em solid #fff;
  border-radius: 5%;
}

#main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4, auto;
  grid-template-areas:
    "head head head"
    "image content content"
    "citation citation citation"
    "footer footer footer";
  grid-gap: 3em;
  justify-items: center;
  align-items: center;
}

#title {
  grid-area: head;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2, auto;
  grid-template-areas:
    "maintit"
    "subtitle";
}

#main-title {
  grid-area: maintit;
  justify-self: center;
}

#subtitle {
  grid-area: subtitle;
  justify-self: center;
}


#img-div {
  grid-area: image;
}

#tribute-content {
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "par1 par2 par3";
  justify-items: stretch;
}

#citation {
  grid-area: citation;
  margin: 3em;
}

#footer {
  grid-area: footer;
}

#part1 {
  grid-area: par1;
}

#part2 {
  grid-area: par2;
}

#part3 {
  grid-area: par3;
}
